<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351624121765-ccutqgh4slrl017k9fnvsql2t2j943bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351624121765-ccutqgh4slrl017k9fnvsql2t2j943bj</string>
	<key>API_KEY</key>
	<string>AIzaSyDjduuwOoJg_uQGJoeQ-XwR_e7x0kUPeaU</string>
	<key>GCM_SENDER_ID</key>
	<string>351624121765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slogcom</string>
	<key>PROJECT_ID</key>
	<string>smart-route-3c728</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-route-3c728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351624121765:ios:98b83c351a063b1f382c4c</string>
</dict>
</plist>